* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", arial, sans-serif;
  }
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 400;
  }
  
  .nav-header {
    color: grey;
    text-align: right;
  }
  
  .nav-list {
    list-style: none;
    font-size: 0;
  }
  
  .nav-list li {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
  }
  .about-us,
  .our-contacts {
    text-decoration: none;
    color: grey;
  }
  
  .start {
    float: left;
    color: grey;
    font-size: 12px;
  }
  
  header {
    margin: 10px 0 30px 0;
  }
  
  .beeinterns {
    text-align: center;
    font-size: 60px;
    color: rgb(43, 40, 40);
    margin-bottom: 15px;
  }
  
  .main-menu {
    background-color: rgb(43, 40, 40);
    border-radius: 5px;
  }
  
  .nav-menu {
    list-style: none;
    font-size: 0;
  }
  .nav-menu a {
    text-decoration: none;
    color: rgb(180, 173, 173);
  }
  .nav-menu li {
    display: inline-block;
    font-size: 17px;
    padding: 20px;
  }
  
  .your-heading {
    margin: 20px 0;
    color: rgb(43, 40, 40);
  }
  
  .your-text {
    margin: 20px 0;
    color: rgb(43, 40, 40);
  }
  
  .main-gallery {
    list-style: none;
    font-size: 0;
    margin-bottom: 6px;
  }
  
  .big-photo-one {
    float: left;
    margin-right: 6px;
  }
  
  .small-photo {
    font-size: 0;
  }
  
  .small-photo li {
    list-style: none;
    font-size: 0;
    margin-right: 7px;
    display: inline-block;
  }
  
  .small-photo:last-child {
    margin-right: 0px;
  }
  
  footer {
    background-color: rgb(43, 40, 40);
    color: rgb(212, 195, 195);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    padding: 60px 0;
  }
  
  .social-box {
    max-width: 350px;
    min-width: 350px;
    border: rgb(179, 176, 176) 1px solid;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .users, .social-network {
    max-width: fit-content;
    text-transform: uppercase;
    border-bottom: 3px black solid;
    padding: 5px;
    top: 2px;
    position: relative;
  }
  
  .border-for-headings {
    border-bottom: 1px #8e8e8e solid;
  }
  
  .social-content {
    margin: 15px auto;
    font-size: 0;
    text-align: center;
  }
  
  .social-content li {
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    color: rgb(179, 176, 176);
  }
    

  .soc-img {
    max-width: 45px;
    width: 100% ;
    margin-bottom: 10px;
  }
  
  .social-content a {
    font-size: 11px;
    text-decoration: none;
    color: #8e8e8e;
  }
  
  .user-box {
    max-width: 350px;
    min-width: 350px;
    border: rgb(179, 176, 176) 1px solid;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
  }
  
 .block-for-users {
   max-width: 180px;
 }
  .user-wrapper-img {
    display: inline-block;
    vertical-align: middle
  }
  .user-content {
    font-size: 0;
    margin: 40px 0;
  }
  
  .user-content li {
    list-style-type: none;
    margin-bottom: 10px;  
  }

  .user-content li:last-child {
    margin-bottom: 0;
  }
  
  .user {
    margin-bottom: 25px;
    border: 2px solid gray;
  }
  
  
  .user-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; 
  }
  
  .user-text:last-child {
    color: grey;
    font-size: 12px;
  }
  
  .first-text {
    color: black;
    font-size: 14px;
  }
  
  main {
    padding-bottom: 50px;
  }
  